:root {
    --text-color: #667085;
    --main-color: #8E2424;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Inter', sans-serif;
}

/* ---- Cabeçalho ---- */
/**** navbar ****/
#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;  
}

#navbar ul {
    display: flex;
    list-style: none;
    gap: 2em;
}

.nav-itens {
    font-size: 1em;
    font-weight: 500;
}

.nav-itens a {
    text-decoration: none;
    cursor: pointer;
    color: #667085;
}

/* botões */
.nav-button button {
    border: none;
    font-size: 1em;
    font-weight: 500;
    color: #667085;
    background: none;
    cursor: pointer;
    border-radius: 8px;
}

#cadastrar {
    background-color: #8E2424;
    color: #FFF;
    margin-left: 8px;
    padding: 10px 18px;
}

/* sobre nós */
#sobre-nos {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 6em 0;
    gap: 1.5em;
}

#sobre-nos span {
    color: var(--main-color);
    font-weight: 600;
    line-height: 24px;
}

#sobre-nos h1 {
    font-size: 3em;
    font-weight: 600;
    line-height: 60px;
}

#sobre-nos p {
    color: var(--text-color);
    font-size: 1.25em;
    font-weight: 400;
    line-height: 30px;
    max-width: 791px;
}

/* metrícas */
#metricas {   
    display: flex;
    padding: 0 0 6em;
}

.metricas-lista {
    display: flex; 
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 3em;

}

.metricas-itens {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    width: 280px;
}

.metricas-titulo {
    font-size: 3.75em;
    font-weight: 600;
    color: var(--main-color);
}

.metricas-subTitulo {
    color: #101828;
    font-size: 1.125em;
    font-weight: 500;
}

.metricas-paragrafo {
    color: #667085;
    font-size: 1em;
    font-weight: 400;
}